#background{
    height: 95vh;
    width: 92vw;
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url("pictures/badtrip.jpg");
    background-size: cover;
    color: white;
}