html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.balken{
    background-color: #012466;
    width: 100%;
    height: 6em;
}

.balken2{
    width:100%;
    height: 85em;
    background-color:#0f7dfa;
    transition: ease-in 0.2s;
    animation: fade linear forwards;
    animation-timeline: scroll();
    animation-range: 0em 35em;
}

.rand{
    width: 30%;
    height: auto;
}

.back_button{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #012466;
    margin-top: 91vh;
    margin-left: 74vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    z-index: 9998;
    position: fixed;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

.opening{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85em;
    background-color:#0f7dfa;
    width: 100%;
    transition: ease-in 0.2s;
    animation: fade linear forwards;
    animation-timeline: scroll();
    animation-range: 0em 35em;
}

.opening h1{
    color: white;
    font-size: 5em;
    margin-top: 200px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#opening_button{
    scroll-behavior: smooth;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    width: 4em;
    border: 0px solid transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: ease-in 0.2s;
    height: 2em;
    animation: move linear forwards;
    animation-timeline: scroll();
    animation-range: 1em 35em;
}

#opening_button:hover{
    background-color: #012466;
    color: white;
}

p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    margin-left: 15px;
}

.menu-bar{
    display: flex;
    align-items: center;
    height: 6em;
    background-color: #012466;
    max-width: 80em;
    width: 100%;
}

.menu-bar h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin-left: 15px;
    width: 7em;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

.menu-bar h1 a{
    text-decoration: none;
    color: white;
}

.menu-buttons{
    height: fit-content;
    margin-left: auto;
    margin-right: 5px;
    display: flex;
}

.button{
    margin-right: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    text-decoration: none;
}

.button:hover{
    color: orange;
    transition: ease-in 0.1s;
}

#menu-toggle{
    display: none;
}

.burger{
    margin-left: auto;
    opacity: 0;
    pointer-events: none;
    font-size: 3.5em;
    color: white;
    cursor: pointer;
    transition: ease-in 0.1s;
}

.burger:hover{
    color: orange;
}

.fullscreen-menu{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 9998;

    opacity: 0;
    pointer-events: none;

    transition: 0.2s;
}

#menu-toggle:checked ~ .fullscreen-menu{
    opacity: 1;
    pointer-events: all;
}

#menu-toggle:checked ~ .opening{
    animation: none;
    opacity: 1;
    pointer-events: none;
    animation: none;
}

.fullscreen-menu a, label{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}
.close{
    position: absolute;
    top: 20px;
    right: 25px;
}

.fullscreen-menu label:hover, a:hover{
    color: orange;
    cursor: pointer;
}

.bild_text{
    width: 45%;
    margin-top: 10px;
    max-width: 80em;
    background-color: #0745b8;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: ease-in 0.2s;
}

.facts{
    width: 45%;
    max-width: 80em;
    margin-top: 15px;
    color: white;
    background-color: #0745b8;
    height: 26em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: ease-in 0.2s;
}

.facts a{
    font-size: 1.2em;
}


#foto{
    margin-left: 5px;
    width: auto;
    max-width: 50%;
    min-width: 150px;
    height: auto;
    max-height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.informations{
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}

.informations h1{
    margin-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
}

.informations a{
    margin-left: 15px;
}

.links{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10em;
    background-color:#0745b8;
    margin-top: 3.8em;
    font-size: 1.7em;
    transition: ease-in 0.2s;
    font-weight: bold;
}

.bild_text:hover, .facts:hover, .links:hover{
    transition: ease-in 0.2s;
    transform: translateY(-20px);
    opacity: 1;
}

@media (max-width: 1100px){
    .burger{
        margin-left: auto;
        opacity: 1;
        pointer-events: all;
        margin-right: 15px;
    }
    .menu-buttons{
        width: 0px;
        opacity: 0;
    }
    .menu-bar h1{
        width: 7em;
    }
    .menu-buttons{
        display: none;
    }
}

@media (max-width: 1200px){
    .informations{
        justify-content: space-around;
        flex-direction: column;
    }
    .facts{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bild_text{
        margin-top: 3em;
        width: auto;
    }
    .links{
        width: auto;
        margin-top: 1.8em;
    }
}

@keyframes fade{
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes move{
    from { transform: translateY(0); }
    to   { transform: translateY(1500px); }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 1.2em;
    color: rgba(255, 255, 255, 0.697);
    font-size: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(54, 54, 54);
    bottom: 0;
    z-index: 9999;
}